<div ngClass.lg="class-lg" ngClass.xl="class-xl">
  <b>HEADS UP:</b>
  <p>The following scenario was not working in Linux Ubuntu 20.04. It have worked on Mac OS.</p>


  <p>According to <a href="https://github.com/angular/flex-layout/wiki/Responsive-API">Flex Layout Responsive API docs</a>, 
  <i>lg</i> applies the rule: <br/>
  </p>
  <q>
    screen and (min-width: 1280px) and (max-width: 1919px)'
  </q>
  <p>And <i>xl</i> applies:</p>
  <q>
    'screen and (min-width: 1920px) and (max-width: 5000px)'
  </q>

    <p> Knowing that, change your screen resolution and check the result:</p>
    <ul>
      <li>to 1280px x 720px (HD size)  and check if  this div is blue. (must apply ngClass.lg with class class-lg)</li>
      <li>to 1920px x 1080px (Full HD size)  and check if  this div is red. (must apply ngClass.xl with class class-xl)</li>
    </ul>

  

    <p>About this project</p>

    <ul>
      <li> Created with @angular/cli@8.3.29</li>
      <li> Using flexLayout ^8.0.0-beta.27</li>

    </ul>
  
</div>